body {
  margin: 0;
  padding: 50px;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App{
  width: max-content;
  margin:auto;
}

.input:hover {
  border-color: rgb(7, 70, 134);
}

.input {
  height: 28px; 
  width :247px ;
  padding: 5px; 
  margin-Right: 10px; 
  font-Size : 26px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.addtaskbtn:hover {
  border-color: rgb(7, 70, 134);
}

.addtaskbtn {
  height: 28px;
  width : 97px ;
  padding: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.add-task {
  width : auto;
  background-color: #64C9CF;
  padding: 50px;
  border-radius: 10px;
}

.list {
  padding-top: 10px;
  border-radius: 10px;
  background-color:#c9f0ec;
}

.listItemStyle  {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  padding: 10px;
  border-radius: 15px;
  margin-bottom: 10px;
};

